body{
    padding-top:64px ;
}
//nav
nav{
    position: fixed;top: 0;left: 0;
    z-index: 1003;
    background: #fff;
    padding:0 8%;
    line-height: 62px;
    opacity: .9;
    .brand-logo{
        position: static;
        height: 66px !important;
        img{width: 80%;height: auto;margin: 15px 0;}
    }
    .button-collapse{color: #333;}
    ul{
        li{
            a{color: #333;}
            a:hover {background-color: rgba(0, 0, 0, 0.6);color: #fff;}
            &.active{
                a.active{background-color: #333;color: #fff;}
            }
        }
    }
    ul#nav-mobile{
        border: none;
        box-shadow: none;margin: 0;
        li{
            position: relative;
            width: 90px;
            .collapsible-header{
                border-bottom: none;line-height: 4.3rem;
                i{color: #333;font-size: 38px;}
                @media only screen and (max-width: 413px) {
                    margin-left:13%;
                }
            }
            .collapsible-header:hover {background-color: rgba(0, 0, 0, 0.6);color: #fff;}
            .collapsible-body.table-of-contents{
                li{
                    a{height: auto;padding:1em;}
                    a:hover{color: #fff;}
                }
            } 
            .collapsible-body{
                
                background-color: #f2f2f2;
                li{
                    float: left;width: 100%;
                    a{display: block;color: #333;font-size: 0.85em;}
                }
            }
            .collapsible-body:before {
                    position: absolute;bottom: 100%;left: 0;
                    border:solid transparent;
                    content: " ";
                    height: 0;width: 0;
                    pointer-events: none;
                    border-color: rgba(238,238,238,0);
                    border-bottom-color: #e7e8ec;
                    border-width: 8px;
                }
            .section{padding: 0;}
            #dropdown1,#dropdown2{
                z-index: 1;position: absolute;
                width: 260px !important; 
                top: 64px !important;
                font-family: "微软雅黑";
            }
        }
    }
    .search-wrapper{
       input[type=search]{
           border: 1px solid #333;
           border-radius: 5px;
           margin: 10px 0 0 0;
           padding: 0.5em 1.6em;
       }
       #modal1{
           h4{color: #333;}
           input{
               width: 80%;margin-bottom: 0;
               border-bottom: 1px solid #333;padding: 0.5em 3em;
               color: rgba(0,0,0,.5);
           }
           label.active{
               -webkit-transform: translateY(-30%);
           }
           .modal-footer{
               .modal-action:hover{background-color: #333;}
           }
       }
    }
    #mobile-demo.side-nav {
        .collapsible-header:hover{
            background-color: #333;
        }
        .collapsible-body{background-color:rgba(0,0,0,.1);}
    }
}
//banner
.banner-wrapper{
    width: 90%;
    margin: 0 5%;
    .carousel{
        .banner-arrows{
            display: none;
            margin-top: 13rem;
            .btn{
                width: 16px;padding: 0 1rem;
                height: 60px;line-height: 60px;
                background: #333;
            }
        }
        .carousel-fixed-item{
            .btn{
                display: inline-block;padding: 0 2em;
                height: 22px;line-height: 22px;
                box-shadow: none; 
                border:1px solid #aaa;
                background: #fff;
                color: #333;font-size: 0.38rem;
                i{font-size: 0.7em;}
                &.active{
                    background: #333;
                    color:#fff;
                }
            }
        }
        .carousel-item.row .col{padding: 0;}
        .carousel-item {
            overflow: hidden;
            .carousel-item-intro-img{
                position: absolute;top: 0;left: 0;
                overflow: hidden;
                @media only screen and (min-width: 769px) {
                    height:100% ;
                    img{
                        height:100% ;
                    }
                }
                @media only screen and (min-width: 416px) and (max-width: 768px) {
                    height:65% ;
                    img{
                        width: 170%;
                        height:120% ;
                        margin-left: -450px;
                    }
                }
                @media only screen and (max-width: 415px) {
                    height:50% ;
                    img{
                        width: 200%;
                        height:110% ;
                        margin-left: -318px;
                    }
                }
            }
            .carousel-item-intro{
                @media only screen and (min-width: 769px) {
                    top: 0;left: 0;
                    .carousel-item-intro-txt{
                        top: 10rem;left: 5rem;
                        div{.btn{margin:2rem 0.5rem 0;}}
                    }
                }
                @media only screen and (min-width: 416px) and (max-width: 768px) {
                    top: 65%;left: 0;
                    background: rgba(0,0,0,.6);
                    .carousel-item-intro-txt{
                        top: 1rem;left: 10%;
                        color: #fff;
                        .txt-btn{
                            .btn{
                                display: block;
                                margin:1rem 0.5rem 0;
                                border-color: #fff;
                                i{color: #fff;}
                            }
                            a{color: #fff;}
                        }
                    }
                }
                @media only screen and (max-width: 415px) {
                    top: 50%;left: 0;
                    background: rgba(0,0,0,.6);
                    .carousel-item-intro-txt{
                        width: 100%;
                        top: 1rem;
                        text-align: center;
                        color: #fff;
                        .txt-btn{
                            h4{font-size: 0.5rem !important;}
                            .btn{
                                margin:1rem 0.5rem 0;
                                border-color: #fff;
                                i{color: #fff;}
                            }
                            a{color: #fff;}
                        }
                    }
                }
                position: absolute;
                width: 100%;height: 100%;
                font-family: "微软雅黑";
                font-weight: 100;
                .carousel-item-intro-txt{
                    position: absolute;
                    .btn{
                        display: inline-block;padding:0 1em;
                        height: 40px;line-height: 40px;
                        box-shadow: none; 
                        border:1px solid #333;
                        background:rgba(255,255,255,.0);
                        font-size: 0.95em;
                        color: #000000;
                        i{font-size: 1em;}
                    }
                }
            }
        }
    }
    .carousel:hover{
        .banner-arrows{
            display: block;
        }
    }
}
//content1,content2
.content1,.content2{
    width: 90%;
    margin: 2rem 5%;
    .card{
        height: 320px;
        background: rgba(0,0,0,.6);
        opacity: .8;
    }
    .card:hover{background: rgba(0,0,0,0);opacity: 1;}
}
.content1{
    .card{
        .card-content{
            dt{font-family: "微软雅黑";}
            dd{margin: 0;}
           @media only screen and (min-width: 769px){
               dt{font-size: 28px;}
               dd{font-size: 16px;}
           } 
           @media only screen and (min-width: 416px) and (max-width: 768px) {
               dt{font-size: 28px;}
               dd{font-size: 16px;}
           }
           @media only screen and (max-width: 415px){
               padding: 0 15px;
                dt{font-size: 18px;}
                dd{font-size: 14px;}
           }
        }
    }
}
//content3
.content3.row .col{padding: 0;}
.content3{
    width: 90%;
    margin: 3rem 5%;
    position: relative;
    height:550px;
    overflow: hidden;
    .content3-img{
        position: absolute;top: 0;left: 0;
        overflow: hidden;
        @media only screen and (min-width: 769px) {
            width:100% ;
            img{
                height:100% ;
            }
        }
        @media only screen and (min-width: 416px) and (max-width: 768px) {
            height:65% ;
            img{
                width: 170%;
                height:120% ;
                margin-left: -450px;
            }
        }
        @media only screen and (max-width: 415px) {
            height:50% ;
            img{
                width: 200%;
                height:110% ;
            }
        }
    }
    .content3-intro{
        @media only screen and (min-width: 769px) {
            top: 0;left: 0;
            .content3-intro-txt{
                top: 10rem;left: 5rem;
                div{.btn{margin:2rem 0.5rem 0;}}
            }
        }
        @media only screen and (min-width: 416px) and (max-width: 768px) {
            top: 65%;left: 0;
            background: rgba(0,0,0,.6);
            .content3-intro-txt{
                top: 1rem;left: 10%;
                color: #fff;
                .txt-btn{
                    .btn{
                        margin:1rem 0.5rem 0;
                        border-color: #fff;
                        i{color: #fff;}
                    }
                    a{color: #fff;}
                }
            }
        }
        @media only screen and (max-width: 415px) {
            top: 50%;left: 0;
            background: rgba(0,0,0,.6);
            .content3-intro-txt{
                width: 100%;
                top: 1rem;
                text-align: center;
                color: #fff;
                .txt-btn{
                    .btn{
                        margin:1rem 0.5rem 0;
                        border-color: #fff;
                        i{color: #fff;}
                    }
                    a{color: #fff;}
                }
            }
        }
        position: absolute;
        width: 100%;height: 100%;
        font-family: "微软雅黑";
        font-weight: 100;
        .content3-intro-txt{
            position: absolute;
            .btn{
                display: inline-block;padding:0 1em;
                height: 40px;line-height: 40px;
                box-shadow: none; 
                border:1px solid #333;
                background:rgba(255,255,255,.0);
                font-size: 0.95em;
                color: #000000;
                i{font-size: 1em;}
            }
        }
    }
}
//content4
.content4{
    width: 90%;
    margin: 2rem 5%;
    .col{box-shadow: none;margin-top: 10px;}
    .card{
        height: 560px;
        .card-image{
           height: 40%;
           overflow: hidden;
           img{
                height: 100%;
           }
        }
        .card-content{
            h5{text-align: center;}
            ul{
                display: flex;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                
                flex-wrap: wrap;
               li{
                   margin: 0.5rem;
                   border: 1px solid #444;
                   border-radius: 5px;
                   a{color: #555;padding: 0.4em 0.6em;}
               }
               li:hover{
                   background: #333;
                   a{color: #fff;}
               }
           } 
        }
    }
    .card:hover{background-color: rgba(0,0,0,.2);color: #fff;}
}
//footer
footer.page-footer{
    background: #eee;
    padding:0 5%; 
    .footer-b{
        ul{
            margin: 0;
            li a{color: #666;font-size: 0.88em;}
        }
        .collapsible{
            border: none;box-shadow: none;
            p{margin: 0;}
            .collapsible-header{
                background-color: #555;
                color: #fff;
            }
            .collapsible-body{
                ul{
                    padding: 1em 0;
                    padding-left: 1em;background-color: #fff;
                    li a{padding: 0.2em 0;font-size: 0.8em;color: #333;}
                }
            }
        }
    }
    .footer-copyright{
        .row{margin-bottom: 0;}
        .row .col{height: auto;}
        font-size: 0.7em;
        .some1{
            height: 30px;
            line-height: 30px;
            i{font-size: 2em;} 
        }
        .some2{
            height: 30px !important;overflow: hidden;
           a{margin: 0 0.5rem;color: #666;line-height: 30px;} 
        }
    }
    a:hover{text-decoration: underline;}
}
//fixed-txt
.fixed-txt{
    position: fixed;top: 50%;right: -2.5%;
    transform: rotate(-90deg);
    a{
        padding: 0.5em 1em 0.2em;border: 1px solid #333;border-bottom: none;
        color: #333;
    }
    a:hover{background-color: #333;color: #fff;}
}
.btn-floating {
    position: relative; padding: 0;
    display: inline-block;
    overflow: hidden;
    z-index: 1;
    width: 40px;height: 40px;border-radius:5px;
    line-height: 40px;color: #333;border: 1px solid #333;
    background-color: #fff;
    transition: .3s;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
}
.btn-floating:hover{
    color: #fff; background-color: #333;
}
